
<form (ngSubmit)="createEmployee()" class="container">
  <div class="head">
    <h2>Create Employee</h2>
    </div>
    
  <!-- Employee Details -->
  <div class="container-fluid" style="border:1px solid #198d9f; border-radius: 4px;">
    <div class="cards-container">
      <h3>Employee</h3>
      <div class="row form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
            <label for="empNo">Employee Number:</label>
            <input type="number" id="empNo" name="empNo" [(ngModel)]="employee.empNo" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="birthDate">Birth Date:</label>
            <input type="date" id="birthDate" name="birthDate" [(ngModel)]="employee.birthDate" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="employee.firstName" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="employee.lastName" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="employee.email" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="employee.password" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" [(ngModel)]="employee.gender" class="form-control" required>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
          <div class="form-group">
            <label for="hireDate">Hire Date:</label>
            <input type="date" id="hireDate" name="hireDate" [(ngModel)]="employee.hireDate" class="form-control" required>
          </div>
        </div>
      </div>
    </div>

    <!-- Department Employee -->
    <div class="card">
      <h3>Department Employee</h3>
      <div class="row form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
            <label for="dept_no">Department Number:</label>
            <select id="dept_no" [(ngModel)]="department.dept_no" name="dept_no" (change)="onDeptNoChange()" class="form-control" required>
              <option *ngFor="let department of departments" [value]="department.dept_no">{{ department.dept_no }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="dept_Name">Department Name:</label>
            <input type="text" id="dept_Name" [(ngModel)]="department.dept_name" name="dept_Name" class="form-control" required readonly>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="fromDate">From Date:</label>
            <input type="date" id="fromDate" [(ngModel)]="departmentEmployee.fromDate" name="fromDate" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="toDate">To Date:</label>
            <input type="date" id="toDate" [(ngModel)]="departmentEmployee.toDate" name="toDate" class="form-control" required>
          </div>
        </div>
      </div>
    </div>

    <!-- Title -->
    <div class="card">
      <h2>Title</h2>
      <div class="row form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fromDate">From Date:</label>
            <input type="date" id="fromDate" name="fromDate" [(ngModel)]="title.fromDate" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="toDate">To Date:</label>
            <input type="date" id="toDate" name="toDate" [(ngModel)]="title.toDate" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">Title</label>
            <select id="title" name="title" class="form-control" [(ngModel)]="title.title" required>
              <option value="Senior Engineer">Senior Engineer</option>
              <option value="Staff">Staff</option>
              <option value="Engineer">Engineer</option>
              <option value="Senior Staff">Senior Staff</option>
              <option value="Assistant Engineer">Assistant Engineer</option>
              <option value="Technique Leader">Technique Leader</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- Salary -->
    <div class="card" style="padding: 10px;">
      <h2>Salary</h2>
      <div class="row form-horizontal">
        <div class="col-md-6">
          <div class="form-group">
            <label for="fromDate">From Date:</label>
            <input type="date" id="fromDate" name="fromDate" [(ngModel)]="salary.fromDate" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="toDate">To Date:</label>
            <input type="date" id="toDate" name="toDate" [(ngModel)]="salary.toDate" class="form-control" required>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="salary">Salary:</label>
            <input type="number" id="salary" name="salary" [(ngModel)]="salary.salary" class="form-control" required>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-success" style="padding: 10px; width: 50%; align-items: center;">Create Employee</button>
    </div>
    <br>
  </div>

</form>
