.nav-link:hover{
    /* background-color: aquamarine; */
    color: rgb(30, 110, 207);
    border: 2px solid rgb(241, 238, 238);
}
.sidebar-sticky{
    background-color: aqua;
}
.nav-item{
    border-color: aqua;
}
.dropdown-item:hover{
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;
}
.dropdown-item{
    position: absolute;
    bottom: 20%;
}
.dropdown-item:hover{
    cursor: pointer;
}
/* .icon{
    width: 20px;
    /* padding: 50%; */
    /* color: aqua; */
/* } */ */

span{
    color: rgb(10, 255, 206); font-size: larger;
}

i{
    color: aqua;
    padding: 10px;
}
span, #signout{
    font-size: large;
}