
body{
    background: linear-gradient(to right, rgb(79, 113, 161) 30%,rgb(43, 95, 169) 50%, rgb(50, 20, 149) 70%);
    padding: 0;
    margin: 0;
    min-height: 40%;
    max-height: 100%;
}
/* .container{
    min-width: 30%;
    max-width: 100%;


} */
i{
    font-size: 30px;
    color: rgb(82, 148, 145);
}



/* .alert {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
   */
   .img1{
    position: relative;
    display: inline-block;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  .img1 {
    animation: spin 5s linear infinite;
  }
  /* 
body{    background-color: aliceblue;
    padding: 0;
    margin: 0;
    max-height: 100%;
    min-height: 40%;
} */
.container{
  min-width: 30%;
  max-width: 100%;
  /* min-height: 60%; */
  /* display: flexbox; */
  max-height: auto;
justify-content: center;
/* display: flex; */
border: 1px solid rgb(103, 216, 78);
position: absolute;
top: 35%;
width: 40%;
height: 60%;
/* padding: 5%; */
background-color: rgb(0, 0, 0,0.6);
/* background-color: rgba(0, 0, 0, 0.5); Overlay background color and transparency */
color: #ffffff; /* Text color */
padding: 40px; /* Padding around the text */
box-sizing: border-box;
z-index: 1; /* Ensure the overlay is above the image */
}
i{
  font-size: 30px;
  color: rgb(73, 224, 46);
}



 .img1{
  position: relative;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.img1 {
  animation: spin 5s linear infinite;
}
/*   
body{
  background-image: linear-gradient(to right, rgb(218, 162, 152) 30%,rgb(168, 75, 75) 50%, rgb(144, 52, 52) 70%);
} */
body{
padding: 0%;
margin: 0%;
max-height: 100%;
max-height: fit-content;
/* background: rgb(2,0,36); */
/* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(187,48,0,1) 34%, rgba(0,255,239,1) 100%); */
}

/* .left{
  background-color: rgb(255, 255, 255);
  padding-left: 11px;
  padding-right: 11px;
} */

.fit{
  width: 100%;
  height: 100%;
  object-fit: cover
}
.card-body{
  background-color: rgba(255, 255, 255, 0.1);
}
.form-control{
  position: relative;
  top: 20px;
}